@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  background:#BDFFFD;
  margin: 0;
  font-family: "Outfit", sans-serif;
}
h2{
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 35px;
  margin: 50px auto;
  color:#5E6973;
}

.confirmacion button {
  display: block;
  margin: 50px auto;
  background-color: #5E6973; 
  color: white;
  border: none;
  font-family: "Outfit", sans-serif;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 9px;
}
