@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
h2{
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 27px;
  margin: 50px auto;
}
